@tailwind base;
@tailwind components;
@tailwind utilities;

.landing_bg {
  background-image: url("https://images.unsplash.com/photo-1491542451321-54b31bd2d961?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: contain;
}

//Fonts
.rampart-one-regular {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Poppins", sans-serif;
}
.scss_layout_tile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-image: linear-gradient(
      to right,

      #373437,
      #4f4c52,
      #676770,
      #676770,
      #676770,
      #676770,
      #4f4c52,
      #373437,
      #1f1d1e,
      #000000
    )
    1;

  div:nth-child(2) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .tile_button_area {
    // background-color: burlywood;
    display: flex;
    align-items: top;
  }
  .tile_button_area button {
    height: fit-content;
    border-image: linear-gradient(
        to right,
        #dcd5aa,
        #e0d195,
        #e5cb81,
        #ebc56c,
        #f3be58,
        #f4b74b,
        #f5af3e,
        #f6a731,
        #f09e28,
        #e9961d,
        #e38d11,
        #dc8500
      )
      1;
    border-image-slice: 1;
    transition: border-image-width 0.3s ease-in-out,
      border-image-source 0.3s ease-in-out,
      background-color 0.3s ease-in-out transform 0.1s ease-in-out; // Add transition for transform

    &:active {
      transform: scale(0.98); // Scale down to 95% on click
    }
    &:hover {
      background-color: #373437;
      border-image: linear-gradient(
          to right,

          #676770,
          #676770,
          #676770,
          #676770,
          #4f4c52,
          #676770,
          #676770
        )
        1;
    }
  }

  .general_details {
    Link {
      background-color: #e38d11;
    }

    h1 {
      font-size: 2rem;
    }
  }
}

.event_by_id_page {
  .event_details,
  .event_details > div {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .event_details > div {
    gap: 0.3rem;
  }

  .booking_spot_btn {
    height: fit-content;
    border-image: linear-gradient(
        to right,
        #dcd5aa,
        #e0d195,
        #e5cb81,
        #ebc56c,
        #f3be58,
        #f4b74b,
        #f5af3e,
        #f6a731,
        #f09e28,
        #e9961d,
        #e38d11,
        #dc8500
      )
      1;
    border-image-slice: 1;
    transition: border-image-width 0.3s ease-in-out,
      border-image-source 0.3s ease-in-out, background-color 0.3s ease-in-out,
      transform 0.1s ease-in-out; // Add transition for transform

    &:active {
      transform: scale(0.98); // Scale down to 95% on click
    }
    &:hover {
      background-color: #373437;
      border-image: linear-gradient(
          to right,

          #676770,
          #676770,
          #676770,
          #676770,
          #4f4c52,
          #676770,
          #676770
        )
        1;
    }
  }
}

.alert_btn {
  height: fit-content;
  border-image: linear-gradient(
      to right,
      #f89090,
      #f78180,
      #f57270,
      #f36360,
      #ef524f,
      #ee4744,
      #ec3c39,
      #ea2f2d,
      #ea2724,
      #ea1e1b,
      #ea120f,
      #e90000
    )
    1;
  border-image-slice: 1;
  transition: border-image-width 0.3s ease-in-out,
    border-image-source 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out; // Add transition for transform

  &:active {
    transform: scale(0.98); // Scale down to 95% on click
  }
  &:hover {
    background-color: #373437;
  }
}

//Dashboard buttons

.bg-db-tabs {
  background: #386fa4;
  margin-block: 1rem;
  border-radius: 10px;
}
.buttons_grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}

.buttons_grid button:last-child {
  grid-column: span 3; /* Make the last button span all 3 columns */
}
.loader {
  width: 55px;
  aspect-ratio: 1;
  --g1: conic-gradient(
    from 90deg at top 3px left 3px,
    #967d7d00 90deg,
    #676770 0
  );
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #0000 90deg,
    #827c88 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g1), var(--g2), var(--g2),
    var(--g2), var(--g2);
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l11 1.5s infinite;
}
@keyframes l11 {
  0% {
    background-size: 35px 15px, 15px 15px, 15px 35px, 35px 35px;
  }
  25% {
    background-size: 35px 35px, 15px 35px, 15px 15px, 35px 15px;
  }
  50% {
    background-size: 15px 35px, 35px 35px, 35px 15px, 15px 15px;
  }
  75% {
    background-size: 15px 15px, 35px 15px, 35px 35px, 15px 35px;
  }
  100% {
    background-size: 35px 15px, 15px 15px, 15px 35px, 35px 35px;
  }
}

.body-height {
  min-height: calc(100vh - 96px);
}

.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  color: black;
}
