@tailwind base;
@tailwind components;
@tailwind utilities;

.landing_bg {
  background-image: url("https://images.unsplash.com/photo-1491542451321-54b31bd2d961?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: contain;
}

//Fonts
.rampart-one-regular {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tile_event_page {
  h1 {
    font-weight: 600;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  }
  div {
  }
}
