@tailwind base;
@tailwind components;
@tailwind utilities;

//Fonts
.londrina-shadow {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Poppins", sans-serif;
}

/*
** === NAVBAR CLASSES ===
*/

.nav-bar {
  a,
  button {
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #ff8fa3;
    }
  }

  // Active link styling (applies to the "active" class set by NavLink)
  a.active,
  button.active {
    color: #f3722c;
  }
}

// Active link styling (applies to the "active" class set by NavLink)

/*
** === SMALL COMPONENTS CLASSES ===
*/
.sort_by_component {
  height: fit-content;
  border-image: linear-gradient(
      to right,
      #dcd5aa,
      #e0d195,
      #e5cb81,
      #ebc56c,
      #f3be58,
      #f4b74b,
      #f5af3e,
      #f6a731,
      #f09e28,
      #e9961d,
      #e38d11,
      #dc8500
    )
    1;
  border-image-slice: 1;
  transition: border-image-width 0.3s ease-in-out,
    border-image-source 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out; // Add transition for transform

  &:hover {
    background-color: #373437;
  }
  ul > li > a {
    background-color: red;
  }
}
.event-tile-gradient-background {
  background-image: linear-gradient(
    to right,
    #415a77,
    #384b63,
    #2f3d4f,
    #262f3d,
    #1d222b
  );
}
.booking_spot_btn {
  height: fit-content;
  border-image: linear-gradient(
      to right,
      #dcd5aa,
      #e0d195,
      #e5cb81,
      #ebc56c,
      #f3be58,
      #f4b74b,
      #f5af3e,
      #f6a731,
      #f09e28,
      #e9961d,
      #e38d11,
      #dc8500
    )
    1;
  border-image-slice: 1;
  transition: border-image-width 0.3s ease-in-out,
    border-image-source 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out; // Add transition for transform

  &:active {
    transform: scale(0.98); // Scale down to 95% on click
  }
  &:hover {
    background-color: #373437;
  }
}
.alert_btn {
  height: fit-content;
  border-image: linear-gradient(
      to right,
      #f89090,
      #f78180,
      #f57270,
      #f36360,
      #ef524f,
      #ee4744,
      #ec3c39,
      #ea2f2d,
      #ea2724,
      #ea1e1b,
      #ea120f,
      #e90000
    )
    1;
  border-image-slice: 1;
  transition: border-image-width 0.3s ease-in-out,
    border-image-source 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out; // Add transition for transform

  &:active {
    transform: scale(0.98); // Scale down to 95% on click
  }
  &:hover {
    background-color: #373437;
  }
}

.disabled_btn {
  height: fit-content;
  border-image: linear-gradient(
      to right,
      #6c757d,
      #7c858d,
      #8c949c,
      #9ca5ad,
      #adb5bd
    )
    1;
  border-image-slice: 1;
  transition: border-image-width 0.3s ease-in-out,
    border-image-source 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out; // Add transition for transform

  &:active {
    transform: scale(0.99); // Scale down to 95% on click
  }
  &:hover {
    background-color: #495057;
    color: #18809f;
  }
}

.buttons_grid_att {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
}

.modal_warning_strip {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  padding: 1rem;
  color: #252422; /* Equivalent to text-stone-950 */
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #ff6800,
    #dd3557,
    #943571,
    #45355d,
    #1d222b
  );
  border-radius: 0.375rem; /* Equivalent to rounded-md */
}
/*
** === END SMALL COMPONENTS CLASSES ===
*/

/*
** === EVENT TILE COMPONENT CLASSES ===
*/

.event-tile-classes {
  a {
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    @media (min-width: 390px) {
      font-size: 1rem; // 'mobile' breakpoint
    }

    @media (min-width: 800px) {
      font-size: 1.25rem; // 'tablet' breakpoint
    }

    @media (min-width: 1024px) {
      font-size: 1.4rem; // 'laptop' breakpoint
    }
  }

  &:hover {
    a {
      color: #2ec4b6;
    }
  }
}

/*
** === END EVENT TILE COMPONENT CLASSES ===
*/

/*
** === DASHBOARD CLASSES ===
*/

/* === Welcome Panel === */
.welcome_panel {
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to right top,
    #023047,
    #07435d,
    #0d5673,
    #126b89,
    #18809f,
    #2a8dac,
    #399bba,
    #47a9c7,
    #5bb1cf,
    #6db9d7,
    #7ec2de,
    #8ecae6
  );
}

/* === Control buttons === */

.btn-none {
  display: none;
}
.buttons_grid_org {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}
.buttons_grid_org button:last-child {
  grid-column: span 3; /* Make the last button span all 3 columns */
}
.buttons_grid_att {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.buttons_grid_att button:last-child {
  grid-column: span 2; /* Make the last button span all 3 columns */
}

/* === Tabs === */
.tabs_content {
  overflow-y: scroll;

  /* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge, Opera) */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

/*
** === END OF DASHBOARD CLASSES ===
*/

/*
** === ANIMATION CLASSES ===
*/

/* === LOADER 1 === */
.loader {
  width: 55px;
  aspect-ratio: 1;
  --g1: conic-gradient(
    from 90deg at top 3px left 3px,
    #967d7d00 90deg,
    #676770 0
  );
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #0000 90deg,
    #827c88 0
  );

  background: var(--g1), var(--g1), var(--g1), var(--g1), var(--g2), var(--g2),
    var(--g2), var(--g2);
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l11 1.5s infinite;
}
@keyframes l11 {
  0% {
    background-size: 35px 15px, 15px 15px, 15px 35px, 35px 35px;
  }
  25% {
    background-size: 35px 35px, 15px 35px, 15px 15px, 35px 15px;
  }
  50% {
    background-size: 15px 35px, 35px 35px, 35px 15px, 15px 15px;
  }
  75% {
    background-size: 15px 15px, 35px 15px, 35px 35px, 15px 35px;
  }
  100% {
    background-size: 35px 15px, 15px 15px, 15px 35px, 35px 35px;
  }
}

/* === LOADER 2 === */

.loader2 {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
/*
** === END OF ANIMATION CLASSES ===
*/

/*
** === MISCELLANEOUS ===
*/

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  // For screens larger than laptop size (1024px and above)
  @media (min-width: 1024px) {
    writing-mode: horizontal-tb; // Reverts to horizontal text flow
    transform: rotate(0deg); // Resets the rotation
  }
}

.body-height {
  min-height: calc(75vh - 96px);
}

.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Base layout for mobile devices */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.9rem;
  gap: 16px;

  h1 {
    transition: color 0.2s ease-in-out;
    font-weight: 600;
    @media (min-width: 390px) {
      font-size: 1rem; // 'mobile' breakpoint
    }

    @media (min-width: 800px) {
      font-size: 1.25rem; // 'tablet' breakpoint
    }

    @media (min-width: 1024px) {
      font-size: 1.5rem; // 'laptop' breakpoint
    }

    @media (min-width: 1280px) {
      font-size: 1.6rem; // 'desktop' breakpoint
    }
  }

  &:hover {
    h1 {
      color: #dc8500;
    }
  }
}

/* Tablet layout (for screens wider than 820px) */
@media (min-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 2fr;
    font-size: 1rem;
    margin-left: 1rem;
  }
}
.event-tile-with-border {
  display: flex;
  justify-content: space-between; // Ensures the date, title, and button are spaced correctly
  align-items: center; // Vertically aligns the items
  padding-bottom: 2rem; // Adds spacing to the bottom
  border-bottom: 2px solid transparent; // Base border to work with
  border-image: linear-gradient(90deg, #ff7e5f, #feb47b) 1; // Apply the gradient to the border
}
/* Laptop and desktop layout (for screens wider than 1024px) */
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 20% 45% 15%;
    font-size: 1rem;
  }
}
